/* homework 3 style */
.blackBold {
    font-weight: bolder;
    font-size: 18px;
    color: black;
}

.blackBold2 {
    font-weight: bolder;
    width: 25%;
    font-size: 18px;
    color: black;
}

.blackBold3 {
    font-weight: bolder;
    width: 30%;
    font-size: 18px;
    color: black;
}

.button-two {
    width: 150px;
    background-color: #417bcb;
    border-radius: 20px;
    color: white;
    font-size: 22px;
    margin: 34px 3px;
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    overflow: hidden;
}

.button-play {
    width: 780px;
    background-color: #417bcb;
    border-radius: 40px;
    color: white;
    font-size: 30px;
    margin: 34px 3px;
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    overflow: hidden;
    border: 4px solid white; /* Set border color to white */
}
        
        .button-play:hover,
        .button-play:focus {
            background-color: #e33c3c;
            border-color: white;
                /* changes colors as user move mouse */
        }
        .buttonSubmit {
            width: 120px;
            color: aliceblue;
            background-color: #417bcb;
            border-radius: 20px;
            padding: 2px; align-items: center;
            text-align: center;
        }
        
        .error-text {
            color: red;
        }

        .button-two:hover,
        .button-two:focus {
            background-color: #e33c3c;
            border-color: #1d0e6b
                /* changes colors as user move mouse */
        }

        .centered-button-container {
            display: flex;
            justify-content: center; /* Center horizontally */
            align-items: center; /* Center vertically */
            height: 100%; /* Set height to 100% of parent for vertical centering */
            text-align: center; /* Center the text horizontally */
            font-size: 20px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        footer {
            border: 2px solid #e20707;
            background-color: #cccccc67
        }

        .footer-text-container {
            /*footer*/
            display: flex;
            align-items: center;
            /* vertically center items */
        }

        .footer-text-container img {
            max-width: 100%;
            margin-right: 10px
                /*space between image and text */
        }

        .header-background {
            background-color: #e33c3c;
            text-align: center;
        }

        .header-container {
            /*header/top most */
            display: flex;
            align-items: center;
            /* vertically center items */
            justify-content: space-between;
            /* push items to edges */
        }

        .header-text {
            color: #417bcb;
            font-size: 55px;
            flex: 0 0 85%;
            /* set text to 85% available page width */
            text-decoration: none;
        }

        .header-text:hover {
            color: white;
            /* changes colors as user move mouse */
        }

        .hwkbox-box {
            background-color: #e33c3c;
            height: 270px;
            padding: 20px;
            display: flex;
            align-items: center;
            /* vertically center align content */
            justify-content: center;
            /* horizontally center align content */
        }
        
        .hwkbox {
            width: 100%; padding: 10px;
            background-color: white;
            text-align: center;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .hwk2box-box {
            background-color: #e33c3c;
            height: 250px;
            padding: 20px;
            display: flex;
            align-items: center;
            /* vertically center align content */
            justify-content: center;
            /* horizontally center align content */
        }

        .hwk2box {
            border: 1d0e6b; height: 100%; width: 800px; 
                background-color: white; padding-top :17px; padding-bottom: 17px;
                text-align: right;
                 display: flex;
                align-items:center; /* vertically center align content */
                justify-content: center; /* horizontally center align content */
            }

        .hwk3box-box {
            background-color: #e33c3c;
            height: 180px;
            padding: 20px;
            display: flex;
            align-items: center; 
            /* vertically center align content */
            justify-content: center;
            /* horizontally center align content */
            text-align: center;
        }

        .hwk3box {
            border: 1d0e6b; height: 120px; width: 800px; 
                background-color: white; padding-top :17px; padding-bottom: 17px;
                text-align: right;
                 display: flex;
                align-items:center; /* vertically center align content */
                justify-content: center; /* horizontally center align content */
        }

        .nameBlock {
            margin-bottom: 30px; /* Add space below the nameBlock */
        
        }
        
        /* Style for itemBlock */
        .itemBlock {
            margin-top: 20px; /* Add space above the itemBlock */
        }
        
        .input-box {
            flex-grow: 1;
            padding: 5px;
            border-right: 1px solid red;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        .input-box label {
            font-weight: bolder;
        }
        
        
        .left {
            width: 70px;
            text-align: center;
        }
        .left-table {
            text-align: left;
            width: 70%;
            margin-right: 30px;
        }
        
        .nameField {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: bold; color:#417bcb;
            display: inline-block;
        }
        .nameField label {
            display: inline-block; width:5em;
        }
        
        .numField {
            width: 60%;
            text-align: center;
        }
        
        .output-box {
            flex-grow: 1;
            padding: 10px;
            margin: 10px;
            border: 1px solid red;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .right-image {
            max-width: 100%; /* push image to right */
        }

        .right-table {
            width: 80%; 
            text-align: right;
            color:#417bcb;
            font-weight: bolder;
            
        }

        .right-text {
            text-align: right; /* align text to the right */
        }

        .rounded-image { /*photo*/
            border-radius:50% /* round photo image */
        }  

        .solution-box {
            border: 2px solid #e20707; padding: 0; margin: 0; display: flex;
            flex-direction: column;
            align-items: center; text-align: center;
            height: 70vh;
        }

        .solution-box header {
            width: 100%; padding: 10px; color:brown;
        }

        .solution-frame {    
            width: 80%; display: flex;
            flex-grow: 1; /* allow to grow and fill available verticle space */
            justify-content: center; align-items: center;
            margin: 0 auto; /* center solution-frame within solution box */ 
        }

        .solution-frame iframe {    
            width:180%; height: 100%; 
        }

        .submenu-container {
            background-color: black; text-align: center; margin: 0;
            display: flex;
            align-items:center; /* vertically center align content */
            justify-content: center; /* horizontally center align content */
        }

        .submit-reset {
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
            text-align: center;
            align-items: center; /* Vertically center the buttons */
        }

        .textResult{
            text-align: center;
        }

        .title {
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bolder;
            color: aliceblue;
            font-size: 22px;
        }
