button{
    width: 300px;
    background-color: white;
    border-radius: 20px;
    color: #417bcb;
    font-size: 22px;
    cursor: pointer;
    padding: 10px;
}
button:hover, 
button:focus {
    background-color: #e33c3c; border-color: #b64e57  /* changes colors as user move mouse */ 
}
.button {
    width: 120px; height: 60px; background-color:#417bcb; border-radius: 20px; color: white; 
    font-size: 22px; cursor: pointer; display: inline-block; text-align: center; 
    padding: 10px; text-decoration: none; overflow: hidden;
}
.button:hover, 
.button:focus {
    background-color: #e33c3c; border-color: #b64e57  /* changes colors as user move mouse */ 
}
.button-two {
    width: 300px;
    background-color: #417bcb;
    border-radius: 20px;
    color: white;
    font-size: 22px;
    margin: 34px 3px;
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    overflow: hidden;
}
.button-two:hover,
.button-two:focus {
    background-color: #e33c3c;
    border-color: #1d0e6b
                /* changes colors as user move mouse */
} 
.colored-section {
    background-color: #e33c3c;
    padding: 2px;
    text-align: center;
}
.footCont {
    background-color:#cccccc67;
}
.footer-text-container { /*footer*/
    display:flex; align-items:center; /* vertically center items */
} 
.footer-text-container img {
    max-width:100%; margin-right:10px  /*space between image and text */
}
.header-background {
    background-color: #e33c3c;  text-align: center;
}
.header-container { /*header/top most */
    display: flex;
    align-items: center; /* vertically center items */
    justify-content: space-between; /* push items to edges */
}
.header-text {
    color:#417bcb; font-size: 55px;
    flex: 0 0 85%; /* set text to 85% available page width */
    text-decoration: none;
    text-align: center;
}
.header-text:hover {
    color: white ; /* changes colors as user move mouse */
}

.hwkpt1boxBox {
    background-color: #e33c3c;
    min-height: 250px; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* vertically center align content */
    justify-content: center;
    /* horizontally center align content */
}
.hwkpt1box{
    border: 1d0e6b; min-height: 200px; height: 100%; width: 800px;
    font-size: 18px;
    background-color: white; padding-bottom: 17px;
    text-align: center;
    display: flex;
    flex-direction: column; align-items: center;
    justify-content: center; /* horizontally center align content */
}

h2 {
    color:white;
}
h3 {
    color: #1d0e6b;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 1px;
}
.rainbow-text, .rainbow-textOne {
    font-size: 20px;
    background: linear-gradient(45deg, #f06, #3cf, #f06);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow 5s linear infinite;
}
.rainbow-textOne {
    margin-left: -36px; 
}
@keyframes rainbow {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
.menu-container {
    background-color:#cccccc67; padding: 20px 50px; justify-content: center;
    align-items: center;
}
.right-image {
    max-width: 100%; /* push image to right */
}
.right-text {
    text-align: right; /* align text to the right */
}
.rounded-image { /*photo*/
    border-radius:50% /* round photo image */
} 
.solution-box {
    border: 2px solid #e20707; padding: 0; margin: 0; display: flex;
    flex-direction: column;
    align-items: center; text-align: center;
    height: 70vh;
}
.solution-box header {
    width: 100%; padding: 10px; color:brown;
}
.solution-frame {    
    width: 80%; display: flex;
    flex-grow: 1; /* allow to grow and fill available verticle space */
    justify-content: center; align-items: center;
    margin: 0 auto; /* center solution-frame within solution box */ 
}
.solution-frame iframe {    
    width:180%; height: 100%; 
}
.submenu-containerDesc {
    background-color: black; text-align: center; margin: 0;
    font-size: 22px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items:center; /* vertically center align content */
    justify-content: center; /* horizontally center align content */
} 
.submenu-button {
    display: flex;
    background-color: #e33c3c; justify-content: center;
    height: 100px; width: 100%; align-items: center;
}
.submenu-container {
    width: 100%; text-align: center; padding-top: 20px; background-color: #e33c3c;
    font-weight: bolder;
}
.submenu-header {
    color:aliceblue; background-color:#e33c3c;
    height: 30px; font-size: 30px;
}
.submenu-container2 {
    min-height: 220px;
    width: 100%; text-align: center; padding-top: 20px; background-color: #e33c3c;
    font-weight: bolder;
}
.submenu-header2 {
    color:aliceblue; background-color:#e33c3c;
    min-height: 30px; font-size: 30px;
}

.title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: aliceblue;
    font-size: 22px;
}
#processContainer {
    text-align: left; /* Align text to the left */
    max-width: 700px; /* Set maximum width of the container */
    margin: auto; /* Center the container */
}
#processContainer ol {
    padding-left: 20px; /* Adjust padding to align numbers */
}
#processContainer li {
    margin-bottom: 10px; /* Add space between list items */
    word-wrap: break-word; /* Ensure long words wrap */
}
#reportContainer {
    text-align: center; /* Align text to the left */
    font-size: 18px;
    max-width: 700px; /* Set maximum width of the container */
    margin: auto; /* Center the container */
}
article.solution-box header h2 {
    color: #e33c3c;
}
.error-message {
    color: black;
    background-color: white;
    padding: 10px;
}
table,th,td {
    border : 1px solid black;
    border-collapse: collapse;
  }
  th,td {
    padding: 5px;
  }

